sudo: false
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7-dev"
install:
  - pip install codecov pytest-cov  
  - pip install -r requirements.txt
script: pytest --cov=./
after_success:
  - codecov
